<ul class="nav" role="menu">
    <li class="nav-about" role="menuitem"><a href="https://convictional.com">Website</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}">Blog</a></li>
    <li class="nav-about" role="menuitem"><a href="https://support.convictional.com">Support</a></li>
    <li class="nav-about" role="menuitem"><a href="https://docs.convictional.com">Developers</a></li>
    <li class="nav-about" role="menuitem"><a href="https://app.convictional.com">Sign in ➔</a></li>
</ul>
